<div class="container">

  <h1>Seu cupom foi gerado com sucesso></h1>

  <p>Agora você só precisa imprimir este cupom e ir para uma de nossas <a href="#">lojas</a> e retirar seu produto</p>

  <div class="cupom">

  </div>
</div>