<section class="coupon">
  <form action="/sendform" method="POST">
    <input type="text" name="name" placeholder="Insira seu nome completo">
    <input type="text" name="cpf" placeholder="Insira seu CPF">
    <input type="text" name="email" placeholder="Insira seu e-mail">
    <input type="submit" value="Enviar!">
  </form>
</section>