{{!-- <div id="fullpage" style="height: 100vh"></div> --}}
<form action="/sendform" method="POST">
  <input type="text" name="name" placeholder="Full name" required>
  <input type="text" name="cpf" placeholder="CPF (numbers only)" required>
  <input type="email" name="email" placeholder="E-mail" required>
  <input type="submit" value="Enviar!">
</form>
{{#if message}}
<div class="error-message">{{ message }}</div>
{{/if}}
<br>
<br>
<div id="maps" style="width: 60%; height: 300px; border: 1px solid black"></div>