<h1>signup!</h1>

<form action="/signup" method="post">
  <input type="text" name="username" placeholder="E-mail">
  <input type="password" name="password" placeholder="Password">
  <input type="password" name="confirmPassword" placeholder="Confirm password">
  <input type="text" name="name" value="Admin" hidden>
  <input type="text" name="isAdmin" value="true" hidden>
  <input type="submit" value="Submit!">
</form>